<table>
  <thead>
    <tr>
      <th>
        Arcanes
      </th>
      <% @results.values.first.keys.each do |header| %>
        <th><%= header.capitalize %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @results.each do |arcane, stats| %>
      <tr>
        <td>
          <%= arcane %>
        </td>
        <% stats.values.each do |stat| %>
          <td style="text-align: right">
            <%= stat.to_i %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
